*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    margin: auto;
}
.TodoList{
    justify-content: space-between;

}

.TodoItem{
    border: 1px solid;
    width: 300px;

}


.TodoFooter{
    display: flex;
    gap: 30px;
}

